<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginCommand</key>
	<string></string>
	<key>endCommand</key>
	<string></string>
	<key>beginInstruction</key>
	<string>[</string>
	<key>endInstruction</key>
	<string>]</string>
	<key>beginVariable</key>
	<string></string>
	<key>endVariable</key>
	<string></string>
	<key>firstString</key>
	<string>&quot;</string>
	<key>secondString</key>
	<string>&apos;</string>
	<key>firstSingleLineComment</key>
	<string>//</string>
	<key>secondSingleLineComment</key>
	<string></string>
	<key>beginFirstMultiLineComment</key>
	<string>/*</string>
	<key>endFirstMultiLineComment</key>
	<string>*/</string>
	<key>beginSecondMultiLineComment</key>
	<string></string>
	<key>endSecondMultiLineComment</key>
	<string></string>
	<key>functionDefinition</key>
	<string></string>
	<key>removeFromFunction</key>
	<string>function </string>
	<key>keywordsCaseSensitive</key>
	<false/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<true/>
	<key>keywords</key>
	<array>
		<string>null</string>
		<string>true</string>
		<string>false</string>
	</array>
	<key>autocompleteWords</key>
    <array>
        <string>abstract</string>
        <string>callMethod</string>
        <string>wait</string>
        <string>waitTap</string>
        <string>waitText</string>
        <string>waitAnimation</string>
        <string>new</string>
        <string>app</string>
        <string>set</string>
        <string>enable</string>
        <string>alias</string>
        <string>layer</string>
        <string>new</string>
        <string>at</string>
        <string>clear</string>
        <string>setAnchorPoint</string>
        <string>setGravity</string>
        <string>loadImage</string>
        <string>clearImage</string>
        <string>bg</string>
        <string>border</string>
        <string>shadowOffset</string>
        <string>shadowColor</string>
        <string>shadowOpacity</string>
        <string>shadowRadius</string>
        <string>beginAnimation</string>
        <string>chainAnimation</string>
        <string>commitAnimation</string>
        <string>position</string>
        <string>zPosition</string>
        <string>size</string>
        <string>show</string>
        <string>hide</string>
        <string>toggle</string>
        <string>fadeIn</string>
        <string>fadeOut</string>
        <string>translate</string>
        <string>translateZ</string>
        <string>scale</string>
        <string>rotate</string>
        <string>rotateX</string>
        <string>rotateY</string>
        <string>opacity</string>
        <string>text</string>
        <string>setPrimary</string>
        <string>setNameLayer</string>
        <string>setName</string>
        <string>setInterval</string>
        <string>setFont</string>
        <string>setCcolor</string>
        <string>setLineSpacing</string>
        <string>setText</string>
        <string>start</string>
        <string>pause</string>
        <string>resume</string>
        <string>clear</string>
        <string>skip</string>
        <string>padding</string>
        <string>horizontalAlign</string>
    </array>
</dict>
</plist>
